<div class="large-10 columns" ng-controller="ContactsController as vm">
  <div data-alert ng-show="vm.msg" class="alert-box">{{ vm.msg }}</div>
  <form ng-show="addFormShow" ng-submit="addContactSubmit()" name="newContactForm">
    <h3>Add Contact</h3>

    <div class="row">
      <div class="large-6 columns">
        <label>Name:</label>
        <input type="text" ng-model="name" placeholder="Contact Name" required />
      </div>
      <div class="large-6 columns">
        <label>Email:</label>
        <input type="text" ng-model="email" placeholder="Contact Email" required />
      </div>
    </div>
    <div class="row">
      <div class="large-6 columns">
        <label>Company:</label>
        <input type="text" ng-model="company" placeholder="Contact Company" required />
      </div>
      <div class="large-6 columns">
        <label>Work Phone:</label>
        <input type="text" ng-model="work_phone" placeholder="Work Phone" />
      </div>
    </div>
    <div class="row">
      <div class="large-6 columns">
        <label>Mobile Phone:</label>
        <input type="text" ng-model="mobile_phone" placeholder="Mobile Phone" />
      </div>
      <div class="large-6 columns">
        <label>Home Phone:</label>
        <input type="text" ng-model="home_phone" placeholder="Home Phone" />
      </div>
    </div>
    <div class="row">
      <div class="large-6 columns">
        <label>Street Address:</label>
        <input type="text" ng-model="street_address" placeholder="Street Address" />
      </div>
      <div class="large-6 columns">
        <label>City:</label>
        <input type="text" ng-model="city" placeholder="City" />
      </div>
    </div>
    <div class="row">
      <div class="large-6 columns">
        <label>State:</label>
        <input type="text" ng-model="state" placeholder="State" />
      </div>
      <div class="large-6 columns">
        <label>Zip Code:</label>
        <input type="text" ng-model="zipcode" placeholder="Zip Code" />
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <input type="submit" class="button" value="Add Contact" />
        <!-- <a class="button" ng-click="hideAddForm()">Cancel</a> -->
      </div>
    </div>
  </form>

  <h3>Your Contacts ( {{vm.contacts.length}} )</h3>
  <table>
    <thead>
      <tr>
        <th width="200px;">Name</th>
        <th width="200px;">Company</th>
        <th width="25%;">Email</th>
        <th width="25%;">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="contact in vm.contacts">
        <td><a href="#">{{ contact.name }}</a></td>
        <td>{{ contact.company }}</td>
        <td>{{ contact.email }}</td>
        <td>
          <a class="button tiny" ng-click="showEditForm(contact)">Edit</a>
          <a class="button tiny alert" ng-click="removeContact(contact)">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="small-12 large-2 columns">
  <a class="button large" ng-click="showAddForm()" ng-hide="addFormShow">+</a>
  <a class="button large" ng-click="hideAddForm()" ng-show="addFormShow">-</a>
</div>
